<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>初めての掲示板</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <a href="#">初めての掲示板</a>
    </header>

    <div class="body-wrap">
        <div class="container">
            <div class="content-header">
                <h1>題目</h1>
            </div>
            <div class="make-body">
                <a href="/new">post</a>
            </div>
            <div class="talk-body">
                <ul>
                    <% talk.forEach((item) => { %>
                        <li class="table-body">
                            <span class="username-column">
                                <%= item.username %>
                            </span>
                            <span class="content-column">
                                <%= item.content %>
                            </span>
                            <form action="/delete/<%= item.id %>" method="post">
                                <input type="submit" value="delete">
                            </form>
                            <a href="/edit/<%= item.id %>" class="edit-body">編集</a>
                        </li>
                    <% }); %>    
                </ul>
            </div>
        </div>
    </div>
</body>
</html>