<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <a href="/">初めての掲示板</a>
    </header>

    <div class="body-wrap">
        <div class="container">
            <div class="content-header">
                <h1>題目</h1>
            </div>
            <div class="new-body">
                <p>作成</p>
                <form action="/create" method="post" class="post-table">
                    <input type="text" name="itemUsername" class="name-form" placeholder="名前を入力する">
                    <textarea name="itemContent" cols="50" rows="10" class="content-form"></textarea>
                    <input type="submit" value="編集する" class="send-form">
                </form>
            </div>
        </div>
    </div>
</body>
</html>